@model UserViewModel
@{
    ViewData["Title"] = "User Details";
}

<h1>User Details</h1>

<div>

    <partial name="partialViews/detailsDeleteUserPartialView" />

    <a asp-controller="Employee" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Edit</a> |
    <a asp-controller="Employee" asp-action="Index" class="btn btn-light">Back To List</a>
</div>

