@model DepartmentViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Are you sure to delete this Department </h1>
<form asp-action="Delete">
    <div asp-validation-summary="All"></div>

    <partial name="partialViews/detailsDeleteDepartmentPartialView" />

    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-controller="Department" asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

